header {
  text-align: center;
  background: url("./images/avatar-bg.jpg");
  background-size: cover;
  color: white;
}
h2 {
  background-color: rgba(0, 0, 0, 0.2);
}
.navigation-bar {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}
ul li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
ul a {
  color: white;
  margin-bottom: 10px;
}
.avatar {
  max-width: 150px;
  height: auto;
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}

.horizontal {
  max-width: 500px;
  height: auto;
}
article {
  display: inline;
  padding: 20px;
  margin: 0 auto;
}

.vertical {
  max-width: 350px;
  height: auto;
}
.family {
  padding-left: 40px;
}
.family img {
  margin: 20px 10px;
  display: inline;
  max-width: 350px;
}
@media (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  .horizontal {
    width: 80%;
  }
}
